/* Start Education */

.lucky-education{ background-image:url('./Images/bg/all.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;}

    svg {
      font: 5.5em 'Montserrat';
      width: 960px;
      height: 300px;
      margin: 0 auto;
  }
  
  .text-copy1 {
      fill: none;
      stroke: white;
      stroke-dasharray: 5% 29%;
      stroke-width: 3px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
      border-bottom: 2px solid red;
  }
  
  .text-copy1:nth-child(1){
    stroke: blue;
    animation-delay: -1s;
  }
  
  .text-copy1:nth-child(2){
    stroke: black;
    animation-delay: -2s;
  }
  
  .text-copy1:nth-child(3){
    stroke: blue;
    animation-delay: -3s;
  }
  
  .text-copy1:nth-child(4){
    stroke: black;
    animation-delay: -4s;
  }
  
  .text-copy1:nth-child(5){
    stroke: blue;
    animation-delay: -5s;
  }

  
  @keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
  }

 /*   .title2{
        background-image: linear-gradient(to top,blue,red);
        -webkit-background-clip:text ;
        color: transparent;
        background-size: 300%;
        background-position: -100%;
        animation: heading2 10s infinite alternate-reverse;
       

        font-weight: bolder;

    }
        @keyframes heading2{
        to{
            background-position: 100%;
        }
    } */
