/* start navbar */
#navbar{border-bottom: 2px solid black; 
    background-image:url('Images/bg/b3.jpg')}

#navbar h2{    font-weight: bolder;
            transform: scale(.98);
            transition: ease 1s;
            padding-top: .2em;  
            color: black;}

#navbar h2:hover{ transform: scale(1.0); }

.navbutton {
    color:black;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 50px;
    font-weight: bolder;
}

.navbutton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #40136f, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glow 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
}

.navbutton:active:after {
    background: transparent;
}

.navbutton:hover:before {
    opacity: 1;
}

.navbutton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@keyframes glow {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
